.App-header {
  /* border: 1px solid black; */
}
header {
  height: 6.5em;
  background-color: white;
  display: flex;
  flex-flow: row wrap;
}

header * {
  color: rgb(230, 109, 132);/* contrast ratio 3.05 */
}

.header-title {
  flex: 1 100%;

  text-align: center;
  margin-top: -10px;
  margin-bottom: -30px;
}
.header-title img {
  width: 150px;
}

.header-title a {
  text-decoration: none;
  font-size: 300%;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
}

.header-menu {
  flex: 1 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 15px;
}

a.header-menu-item,
label.header-menu-item {
  font-size: 1.4em;
  line-height: 1.7;
  padding: 5px;
  text-decoration: none;
}

a.header-menu-item.active {
  text-decoration: underline;
}

footer {
  background: linear-gradient(#777, #444);
  color: white;
  font-size: 0.7em;
  padding: 0.2em;
  height: 1.3em;
}
