.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  height: 6.5em;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-title {
  flex: 1 100%;

  text-align: center;
  padding-top: 5px;
}

.header-title a {
  text-decoration: none;
  font-size: 300%;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
}

.header-menu {
  flex: 1 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

a.header-menu-item,
label.header-menu-item {
  font-size: 1.4em;
  line-height: 1.7;
  padding: 5px;
  text-decoration: none;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
