.personal { 
  display:flex;
  flex-flow: column;

  min-height: calc(100vh - 7.7em);
  background-color: #eee;
}
.personal .content {
  margin: 0.4em;
}
.personal .image {
  width: 90%;
  min-height: 400px;
  margin: 0 auto;
  margin-bottom: 5px;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.personal .image.img1 {
  background-image: url("./Konrad_in_workshop.JPG");
}
.personal .image.img2 {
  background-image: url("./Konrad_and_tractor.JPG");
}
